@import "tailwindcss";

@theme {
  --color-primary-50: #f0f9ff;
  --color-primary-100: #e0f2fe;
  --color-primary-200: #bae6fd;
  --color-primary-300: #7dd3fc;
  --color-primary-400: #38bdf8;
  --color-primary-500: #0ea5e9;
  --color-primary-600: #0284c7;
  --color-primary-700: #0369a1;
  --color-primary-800: #075985;
  --color-primary-900: #0c4a6e;
  --color-primary-950: #082f49;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/fonts/MontserratAlternates-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/fonts/MontserratAlternates-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Jura';
  src: url('/fonts/Jura-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Alumni Sans Pinstripe';
  src: url('/fonts/AlumniSansPinstripe-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Alumni Sans Pinstripe';
  src: url('/fonts/AlumniSansPinstripe-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Gruppo';
  src: url('/fonts/Gruppo-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Poiret One';
  src: url('/fonts/PoiretOne-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Scope One';
  src: url('/fonts/ScopeOne-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Tinos';
  src: url('/fonts/Tinos-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Tinos';
  src: url('/fonts/Tinos-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@layer base {
  body {
    overflow-y: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@media print {
  .no-print {
    display: none !important;
  }
}
